body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
}

.modal {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	background-color: rgba(50,50,50,0.8);
	display: flex;
	justify-content: center;
}

.modal-dialog {
	width: 500px;
	background-color: #f0f0f0;
	padding: 20px;
	border-radius: 10px;
}

.modal-header h2 {
	margin-top: 0;
}

.modal-body input[type="text"] {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 18px;
	border-radius: 8px;
	border: 1px solid gray;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
}

.color-selector {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.color-selector label {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 50%;
	border: 2px solid #fff;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
}

.color-selector label:hover {
	transform: scale(1.1);
}

.color-selector input[type="radio"] {
	display: none;
}

.color-selector input[type="radio"]:checked + label {
	border-width: 4px;
	outline: 2px dotted black;
}

.modal-body input[type="submit"] {
	display: block;
	width: 100%;
	padding: 10px;
	margin: 20px 0;
	font-size: 18px;
	color: #fff;
	background-color: #333;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.modal-body input[type="submit"]:enabled {
	background-color: rgb(50,50,50);
}

.modal-body input[type="submit"]:enabled:hover {
	background-color: rgb(100,50,50);
}

.modal-body input[type="submit"]:disabled {
	background-color: rgb(130,130,130);
}

.item-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #ddd;
	border-radius: 8px;
	margin-bottom: 10px;
	padding: 10px;
	width: calc(33.33% - 20px);
	float: left;
	box-sizing: border-box;
}

.item-image {
	width: 80px;
	height: 80px;
	background-color: #eee;
	border-radius: 8px;
	overflow: hidden;
}

.item-image img {
	max-width: 100%;
	height: auto;
}

.item-info {
	flex-grow: 1;
	margin-left: 10px;
}

.item-price {
	font-size: 18px;
	color: green;
}

.item-btn {
	padding: 6px 12px;
	border-radius: 4px;
	background-color: #333;
	color: #fff;
	border: none;
	cursor: pointer;
}

.item-btn:hover {
	background-color: #555;
}
